.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header li {
  list-style-type: none;
  padding: 10px;
}

.App-todoList {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0px;
}

.App-listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.App-listItem button {
  padding: 4px 12px;
  margin-left: 12px;
  border: 0px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.App-listItem input {
  padding: 4px 12px;
  margin-right: 12px;
  cursor: pointer;
}

.create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create button {
  padding: 4px 12px;
  margin: 0 auto;
  cursor: pointer;
  border: 0px;
  border-radius: 0.5rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.create input {
  padding: 4px 12px;
  height: 38px;
  margin: 0 auto;
  border: 0px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.create input:focus {
  outline: 3px solid purple;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
